# PYTHON BASICS-1

python basics

In [1]:
10//4
#cut the decimal part.

2

power function

In [2]:
2**2

4

In [3]:
2**3

8

In [4]:
4**5

1024

In [5]:
4**4

256

In [6]:
3**3

27

In [7]:
5**4

625

area of the rectangle

In [12]:
length = int(input("enter the length of the rectangle "))
breadth = int(input("enter the breadth of the rectangle "))
area = length*breadth
print("the area of tha rectangle is =",area)

enter the length of the rectangle 6
enter the breadth of the rectangle 5
the area of tha rectangle is = 30

perimeter of rectangle

In [1]:
length = int(input("Enter the length of the tectangle"))
breadth = int(input("Breadth of rectangle"))
perimeter = 2*(length+breadth)
print (perimeter)

Enter the length of the tectangle5
Breadth of rectangle3
16

## slicing

In [1]:
Fr = ["kiwi","papaya","apple","orange","banana"]
Fr

['kiwi', 'papaya', 'apple', 'orange', 'banana']

In [2]:
Fr[-2:-1]

['orange']

In [3]:
Fr[-4:-2]

['papaya', 'apple']

In [4]:
Fr[-4:]

['papaya', 'apple', 'orange', 'banana']

In [5]:
Fr.insert(2,"nandan")

In [ ]:
Fr

In [6]:
print (Fr)

['kiwi', 'papaya', 'nandan', 'apple', 'orange', 'banana']

In [7]:
Fr.remove("nandan")

In [ ]:
Fr

In [8]:
print (Fr)

['kiwi', 'papaya', 'apple', 'orange', 'banana']

# PYTHON DATA TYPES

### ‚ñ∂Ô∏è TUPLES

### ‚ñ∂Ô∏è DICTIONARY

### ‚ñ∂Ô∏èSETS

## TUPLEüîΩ

TUPLES are immutable means they cannot be alterd or changed.

In [2]:
tuple1 = ("A","B","C","D")

In [3]:
tuple1[1]#accesed element using index value.

'B'

In [4]:
print(tuple1)

('A', 'B', 'C', 'D')

In [6]:
#we can add two tuples.
tuple2 = (1,2,3,4)
tuple3 = (5,6,7,8)
tuple4 = tuple2+tuple3
print (tuple4)

(1, 2, 3, 4, 5, 6, 7, 8)

In [7]:
tuple4[5]
# accessing element using index value.

6

In [8]:
# we cannot change the value of tuple.
# it shows the error.
tuple[3]=88

TypeError: 'type' object does not support item assignment

** TUPLE values cannot be changed after creation.

## DICTIONARYüîΩ

It contains key and values

In [1]:
dict1 = {'Name':'nandan','age':7,'class':'first'}

In [ ]:
dict1

In [2]:
print (dict1)

{'Name': 'nandan', 'age': 7, 'class': 'first'}

In [3]:
dict1.values()

dict_values(['nandan', 7, 'first'])

In [4]:
dict1.keys()

dict_keys(['Name', 'age', 'class'])

In [5]:
dict1['Name']

'nandan'

In [6]:
dict1['age']

7

In [7]:
dict1['class']

'first'

In [18]:
dict1['Name']

'nandan'

In [20]:
len(dict1)

3

In [21]:
dict1.items()

dict_items([('Name', 'nandan'), ('age', 7), ('class', 'first')])

In [22]:
#We can add a new value pair.
dict1.update({'Fee':2000})

In [23]:
print (dict1)

{'Name': 'nandan', 'age': 7, 'class': 'first', 'Fee': 2000}

In [24]:
#we can assign a new value to an existing value.
dict1['Fee']=9999

In [25]:
print (dict1)

{'Name': 'nandan', 'age': 7, 'class': 'first', 'Fee': 9999}

## SETSüîΩ

SETS does not have indexing.

In [26]:
x ={27,37,47,57}
x

In [27]:
print (x)

{57, 27, 37, 47}

In [28]:
# SETS have uniqeness.same value cant be repeated.
y={27,37,47,57,27}

In [29]:
print (y)

{57, 27, 37, 47}

In [30]:
# here we cannot access value through indexing..
y[1]
#it shows error to us.

TypeError: 'set' object is not subscriptable

In [31]:
 y.pop()

57

In [32]:
y.pop()
# it does not have indexing.

27

In [33]:
print (y)

{37, 47}